body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.data-header {
    text-align: center;
    font-size: clamp(32px, 5vw, 60px);
    font-weight: 300;
    
    width: min(25%, 1050px);
    min-height: 100px;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 10vw auto 80px auto;
    
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgba(100, 100, 100, 0.25);
    border-radius: 10px;
    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    border-bottom: 6px solid #367CFF;
}

.data-container {
    min-height: 40vw;
    width: 70vw;

    margin: 0 auto 5vw auto;
    padding: 24px;

    border-radius: 10px;
    background-color: rgb(225, 248, 255);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;

    box-sizing: border-box;
}

.data-card {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabell-card{
    height: 100%;
    width: 100%;
    cursor: default;
}

th{
    background-color: rgb(243, 243, 99);
}

tr > td:first-child{
    background-color: lightgreen;
}

.tabell-data, td, th{
    border: 2px solid black;
}

.tabell-data{
    background-color: white;
    border-collapse: collapse;
}

.th, td{
    padding: 15px;
}

#cake-container{
    height: 90%;
    max-width: 90%;
}