

:root{
    --mbc: #FFF0D8; /*Main background-color*/
    --ff: Arial, Helvetica, sans-serif; /*Font-family (Skrift type)*/
    --mfs: 24px; /*Main font-size (Hoved skrift størrelse)*/
    --hfs: 48px; /*Header font-size (Overskrift skrift størrelse)*/
    --mbr: 10px; /*Main border-radius*/
    --pd-b: 48px; /*Padding stor*/
    --pd-m: 24px; /*Padding medium*/
    --pd-s: 12px; /*Padding small*/
    --mg-b: 48px; /*Margin stor*/
    --mg-m: 24px; /*Margin medium*/
    --mg-s: 12px; /*Margin small*/
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--mfs);
}

.nav-btn{
    height: 70px;
    width: 150px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    position: relative;
    text-align: center;
}
.nav-btn:hover{
    background-color: rgba(221, 221, 221, 0.3)
}

.nav-btn.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #367CFF;
}

.logo-container, .btn-container{
    backdrop-filter: blur(3px);
    margin: var(--mg-m) 100px;
    border-radius: var(--mbr);
    height: 100%;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    overflow: hidden;
}

#BergenBilde {
    display: flex;
    justify-content: right;
   
}


#BergenBilde img{
    width: 300px;
    height: 300px;
    border: solid black;
    margin-top: 50%;
    margin-right: 10%;
}
