
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: #0B1220;
    color: #E8EDF5;
}


/*------------NAV--------------*/



main{
    display: flex;
}

.seb-nav{
    height: 100vh;
    width: fit-content;

    background-color: #151F2E;
}

.nav-container{
    width: fit-content;
    padding: 1em;

    font-size: 1.5rem;
}

.nav-container > .logo > a{
    font-size: 3.5rem;
    padding-left: 1rem;

    color: #E8EDF5;

    text-decoration: none;
}

.nav-container > .nav-btn{
    display: flex;
    justify-content: flex-start;
}
.nav-container > .nav-btn > ul {
    width: 10rem;
    padding: 0;

    line-height: 3rem;
    list-style-type: none;
    cursor: pointer;
}
.nav-container > .nav-btn > ul > li{
    padding-left: 1rem;
}
.nav-container > .nav-btn > ul > li:hover{
    background-color: color-mix(in srgb, #151F2E, rgb(38, 98, 250) 5%);
}


/*------------HERO--------------*/


.seb-hero{
    height: 40vh;
    width: 100%;

    cursor: default;
}

.hero-img-container{
    height: 100%;
    width: 100%;
}

.hero-info-container{
    width: 40vw;
    height: 100%;
    padding: 5rem 0 3rem 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    
    background-color: green;
    color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.hero-info-container > *{
    margin: 0;
}

.hero-info-container > h1{
    font-family: serif;
    font-size: 5rem;

    color: #E8EDF5;
}

.about-me-list > ul{
    margin: 0;
    padding: 0;

    display: flex;

    list-style-type: none;
}
.about-me-list > ul > li:not(:last-child){
    margin-right: 1rem;
}
.about-me-list > ul > li:not(:last-child):after{
    content: "•";
    color: #E8EDF5;
    margin-left: 1rem;
}

.short-about-me-text{
    text-wrap: pretty;
}

.contact-me-container > a{
    background-color: #79A9FF;
    color: black;
    padding: .75rem 1.5rem;

    border-radius: 50px;

    text-decoration: none;
}