
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: #0B1220;
    color: #E8EDF5;
}

body{
    display: flex;
    min-height: 100vh;
}


/*------------NAV--------------*/


.seb-nav{
    height: 100vh;
    width: fit-content;

    position: sticky;
    top: 0;

    background-color: #151F2E;
}

.nav-container{
    width: fit-content;
    padding: 1em;

    font-size: 1rem;
}

.nav-container > .logo > a{
    font-size: 3.5rem;
    padding-left: 1rem;

    color: #E8EDF5;

    text-decoration: none;
}

.nav-container > .nav-btn{
    display: flex;
    justify-content: flex-start;
}
.nav-container > .nav-btn > ul {
    width: 10rem;
    padding: 0;

    line-height: 3rem;
    list-style-type: none;
    cursor: pointer;
}
.nav-container > .nav-btn > ul > li{
    padding-left: 1rem;
}
.nav-container > .nav-btn > ul > li > a{
    text-decoration: none;
    color: #E8EDF5;
    font-family: Arial, Helvetica, sans-serif;

    display: block;
}
.nav-container > .nav-btn > ul > li:hover{
    background-color: color-mix(in srgb, #151F2E, rgb(38, 98, 250) 5%);
}


/*------------HERO--------------*/


.seb-hero{
    height: 40vh;
    width: 100%;

    cursor: default;
}

.hero-img-container{
    height: 100%;
    width: 100%;
}

.hero-info-container{
    width: 40vw;
    height: 100%;
    font-size: 1vw;
    padding-top: 24px;
    padding-left: 48px;
    color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.hero-info-container > *{
    margin: 0;
}

.hero-info-container > h1{
    font-family: serif;
    font-size: 2vw;
    text-wrap: no-wrap;

    color: #E8EDF5;
}

.about-me-list > ul{
    margin: 0.25rem 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
}
.about-me-list > ul > li:not(:last-child){
    margin-right: 1rem;
}
.about-me-list > ul > li:not(:last-child):after{
    content: "•";
    color: #E8EDF5;
    margin-left: 1rem;
}

.short-about-me-text{
    width: 70%;
    text-wrap: pretty;
    line-height: 1.5;
}

.contact-me-container > a{
    background-color: #79A9FF;
    color: black;
    padding: .75rem 1.5rem;
    margin-bottom: 24px;

    display: inline-block;

    border-radius: 50px;

    text-decoration: none;
}

.hero-img-container{
    width: 100%;
    background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), url('https://as2.ftcdn.net/v2/jpg/02/57/04/47/1000_F_257044725_yprcnFVCPm8c3Svonfso0EXP0hN5VRbK.jpg');
    background-size: cover;
    background-position: center 10%;
    background-repeat: no-repeat;
}